{{yield}}
<td class="text-center">
  {{#if actionUp}}
	  <button type ="button" class="btn btn-success" {{action actionUp model}}>{{if msgSave msgSave "Save"}}</button>
  {{/if}}
  <button type="button" class="btn btn-warning" data-dismiss="modal" {{action 'reset' model}}>{{if msgCancel msgCancel "Cancel"}}</button>
</td>
