<div id="modalDetail" class="modal fade" role="dialog" data-backdrop="static">
  <div class="modal-dialog">
  
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" {{action 'reset'}}>&times;</button>
        <h4 class="modal-title">{{if title title "Edit"}}</h4>
      </div>
      <div class="modal-body">
        {{yield}}
      </div>
      <div class="modal-footer">
        {{#if actionDel}}
          <button type ="button" class="btn  btn-danger" {{action actionDel model}}><span class='glyphicon glyphicon-trash'></span></button>
        {{/if}}
        {{#if actionUp}}
    		  <button type ="button" class="btn  btn-success" {{action actionUp model}}><span class='glyphicon glyphicon-ok'></span></button>
        {{/if}}
        <button type="button" class="btn btn-default" data-dismiss="modal" {{action 'reset'}}><span class='glyphicon glyphicon-remove'></span></button>
      </div>
    </div>

  </div>
</div>