<div class="panel panel-default">
	<div class="panel-heading">
		{{!-- filtro de búsqueda --}}
		
		{{#if showGlobalFilter}}
			{{partial 'components/table-simple/global-filter'}}
		{{/if}}
		
		

		{{#each properties as |prop|}}
			{{!-- hay que tener cuidado de no permitir la propiedad value en properties --}}
			{{input type=prop.type placeholder=prop.title value=prop.value}} 
		{{/each}}
		<button type ="button" class="btn  btn-warning" {{action 'new'}}>New</button>
	</div>
  	<div class="panel-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					{{#each properties as |prop|}}
						<th>
							{{prop.title}}
						</th>
					{{/each}}
					<th>
						Actions
					</th>
				</tr>
			</thead>

			<tbody>
				{{#each visibleContent as |doc|}}
					<tr class={{doc.visivility}}>
						{{!-- recorremos processedColums --}}
						{{#each properties as |prop|}}
							<td>
								{{input type=prop.type placeholder=prop.title value=(get doc prop.name)}}
							</td>
						{{/each}}
						<td class="text-center">
							<button class="btn  btn-danger" onClick={{action 'delete' doc}}>Delete</button>
							<button class="btn  btn-success" onClick={{action 'update' doc}}>Update</button>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		{{!-- paginación --}}
		{{#if showTableFooter}}
			{{partial 'components/table-simple/table-footer'}}
		{{/if}}
	</div>
</div>

  
