<div class="panel panel-default">
	<div class="panel-heading">

		{{#each properties as |prop|}}
			{{!-- hay que tener cuidado de no permitir la propiedad value en properties --}}
			{{input type=prop.type placeholder=prop.title value=prop.value}} 
		{{/each}}
		<button type ="button" class="btn  btn-warning" {{action 'new'}}>New</button>
	</div>
  	<div class="panel-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					{{#each properties as |prop|}}
						<th>
							{{prop.title}}
						</th>
					{{/each}}
					<th>
						Actions
					</th>
				</tr>
			</thead>

			<tbody>
				{{#each modelo as |doc|}}
					<tr>
						{{!-- recorremos processedColums --}}
						{{#each properties as |prop|}}
							<td>

								{{!-- {{table-property-input column doc}} --}}
								{{!-- {{input type=column.type placeholder="undefined" value=(get doc column.title)}} --}}
								{{!-- del siguiente modo si funciona --}}
								{{!-- {{input type=column.type placeholder="undefined" value=doc.firstName}} --}}
								{{!-- {{input-binder-doc type=column.type placeholder=(get doc column.title) prop=column.title model=doc val=column.title}} --}}
							{{!-- 	<input type={{prop.type}} placeholder={{prop.title}} {{bind-attr value=(get doc prp.name)}}> --}}
								{{input type=prop.type placeholder=prop.title value=(table-property-input doc prop.name)}}

							</td>
						{{/each}}
						<td class="text-center">
							<button class="btn  btn-danger" onClick={{action 'delete' doc}}>Delete</button>
							<button class="btn  btn-success" onClick={{action 'update' doc}}>Update</button>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>

  
