<div class="panel panel-default">
	<div class="panel-heading overf-h">
		{{!-- filtro de búsqueda --}}
		
		{{#if showGlobalFilter}}
			{{partial 'components/table-simple/global-filter'}}
		{{/if}}
		
		{{#if actionNew}}
			{{#if createInline}}
				<button type="button" class="btn {{showCreateClass}}" {{action 'showCreate'}}>New Element</button>
			{{else}}
				{{#each properties as |prop|}}
					{{#if prop.isVisible}}
						{{!-- hay que tener cuidado de no permitir la propiedad value en properties --}}
						{{input type=prop.type placeholder=prop.title value=prop.value}} 
					{{/if}}
				{{/each}}
				<button type="button" class="btn  btn-warning" {{action 'new'}}>New</button>
			{{/if}}
		{{/if}}
	</div>
  	<div class="panel-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					{{#each properties as |prop|}}
						{{#if prop.isVisible}}
							<th class="text-center v-middle">
								{{prop.title}}
								<span class='glyphicon glyphicon-triangle-top' aria-hidden='true' {{action 'sort' 'asc' prop.name}}></span>
	          					<span class='glyphicon glyphicon-triangle-bottom' aria-hidden='true' {{action 'sort' 'desc' prop.name}}></span>
							</th>
						{{/if}}
					{{/each}}
					{{#if actionsColumn}}
						<th class="text-center v-middle">
							Actions
						</th>
					{{/if}}
				</tr>
			</thead>

			<tbody>
				{{!-- row para crear nuevo elemento si pasan createInline --}}
				{{#if createInline}}
					<tr class={{showCreateRow}}>
						{{#each properties as |prop|}}
							{{#if prop.isVisible}}
								<td class="text-center v-middle">
									{{input type=prop.type placeholder=prop.title value=prop.value}} 
								</td>
							{{/if}}
						{{/each}}
						<td class="text-center">
							<button type ="button" class="btn  btn-danger w-40" {{action 'cancelNew'}}>Cancel</button>
							<button type ="button" class="btn  btn-success w-40" {{action 'new'}}>Save</button>
						</td>
					</tr>
				{{/if}}
				{{#each visibleContent as |doc|}}
					<tr class={{doc.visivility}}>
						{{!-- recorremos processedColums --}}
						{{#each properties as |prop|}}
							{{#if prop.isVisible}}
								<td class="text-center v-middle">
									<span>{{get doc prop.name}}</span>
									{{!-- {{input type=prop.type placeholder=prop.title value=(get doc prop.name)}} --}}
								</td>
							{{/if}}
						{{/each}}
						{{#if actionsColumn}}
							<td class="text-center">
								{{#if actionDel}}
									<button class="btn  btn-danger w-40" onClick={{action 'delete' doc}}>Delete</button>
								{{/if}}
								{{!-- <button class="btn  btn-success" onClick={{action 'update' doc}}>Update</button> --}}
								{{#if route-edit}}
									{{#link-to route-edit doc.id}}
										<button type ="button" class="btn  btn-success w-40" data-toggle="modal" data-target="#modalDetail">Edit</button>
									{{/link-to}}
								{{/if}}
							</td>
						{{/if}}
					</tr>
				{{/each}}
			</tbody>
		</table>
		{{!-- paginación --}}
		{{#if showTableFooter}}
			{{partial 'components/table-simple/table-footer'}}
		{{/if}}
	</div>
</div>

{{!-- outlet para mostrar el detalle --}}
{{outlet}}
  
