<div class="panel panel-default">
	{{#if showTableHeader}}
		{{partial 'components/table-simple/table-header'}}
	{{/if}}

  	<div class="panel-body">
		<table class="{{if tableStriped 'table-striped'}} {{if tableBordered 'table-bordered'}} {{if tableCondensed 'table-condensed'}} table">
			<thead>
				<tr class="color-th">
					{{#each properties as |prop|}}
						{{#if prop.isVisible}}
							<th class="text-center v-middle">
								{{prop.title}}
								<span class='glyphicon glyphicon-triangle-top' aria-hidden='true' {{action 'sort' 'asc' prop.name}}></span>
	          					<span class='glyphicon glyphicon-triangle-bottom' aria-hidden='true' {{action 'sort' 'desc' prop.name}}></span>
							</th>
						{{/if}}
					{{/each}}
					{{#if actionsColumn}}
						<th class="text-center v-middle actions-w">
							Actions
						</th>
					{{/if}}
				</tr>
			</thead>

			<tbody>
				{{#if allColumnsAreHidden}}
					<tr><td colspan={{properties.length}}>{{{messages.allColumnsAreHidden}}}</td></tr>
				{{/if}}
				{{!-- filtrado por columnas --}}
				{{#if useFilteringByColumns}}
					<tr class="tr-filter">
						{{#each properties as |prop|}}
							{{#if prop.isVisible}}
								<td class="text-center v-middle">
									{{input type="text" value=prop.filterString placeholder=messages.searchLabelColumn}}
								</td>
							{{/if}}
						{{/each}}
						{{#if actionsColumn}}
							<td></td>
						{{/if}}
					</tr>
				{{/if}}
				{{!-- row para crear nuevo elemento si pasan createInline --}}
				{{#if showActionNew}}
					{{#if createInline}}
						<tr class={{showCreateRow}}>
							{{#each properties as |prop|}}
								{{#if prop.isVisible}}
									<td class="text-center v-middle">
										{{input class="inputNewRow" type=prop.type placeholder=prop.title value=prop.value}} 
									</td>
								{{/if}}
							{{/each}}
							<td class="text-center actions-w">
								<button type ="button" class="btn  btn-success" {{action 'new'}}>Save</button>
								<button type ="button" class="btn  btn-warning" {{action 'cancelNew'}}>Cancel</button>
							</td>
						</tr>
					{{/if}}
				{{/if}}
				{{#if visibleContent.length}}
					{{!-- contenido de la tabla --}}
					{{#each visibleContent as |doc|}}
						<tr class={{doc.visibility}}>
							{{#each properties as |prop|}}
								{{#if prop.isVisible}}
									<td class="text-center v-middle">
										<span>{{get doc prop.name}}</span>
									</td>
								{{/if}}
							{{/each}}

							{{!-- columna de acciones --}}
							{{#if actionsColumn}}
								<td class="text-center actions-w">
									{{#if route-edit}}
										{{!-- linkeamos a la ruta del detalle para poder editar --}}
										{{#link-to route-edit doc.id}}
											{{#if editInline}}
												<button class="btn  btn-success w-30" {{action 'editInline' doc}}><span class='glyphicon glyphicon-pencil'></span></button>
											{{else}}
												<button class="btn  btn-success w-30" data-toggle="modal" data-target="#modalDetail"><span class='glyphicon glyphicon-pencil'></span></button>
											{{/if}}
										{{/link-to}}
									{{/if}}
									{{#if actionDel}}
										<button class="btn  btn-danger w-30" onClick={{action 'delete' doc}}><span class='glyphicon glyphicon-trash'></span></button>
									{{/if}}
								</td>
							{{/if}}
						</tr>
						{{#if editInline}}
							{{!-- outlet por fila para mostrar la edición en linea --}}
							{{#if doc.visibilityEdit}}
								<tr class="color-up-elem">
									{{outlet}}
								</tr>
							{{/if}}
						{{/if}}
					{{/each}}
				{{else}}
					<tr><td colspan={{properties.length}}>{{{messages.noDataToShow}}}</td></tr>
				{{/if}}
			</tbody>
		</table>
		{{!-- paginación --}}
		{{#if showTableFooter}}
			{{partial 'components/table-simple/table-footer'}}
		{{/if}}
	</div>
</div>

{{!-- outlet para mostrar el modal de edición --}}
{{#unless editInline}}
	{{outlet}}
{{/unless}}

  
