<div class="panel panel-default">
	{{#if showTableHeader}}
		{{partial 'components/table-simple/table-header'}}
	{{/if}}

  	<div class="panel-body">

		<table class="{{if tableStriped 'table-striped'}} {{if tableBordered 'table-bordered'}} {{if tableCondensed 'table-condensed'}} table">
			<thead>
				<tr class="color-th">
					{{#each properties as |prop|}}
						{{#if prop.isVisible}}
							<th class="text-center v-middle {{prop.sortClass}}" {{action 'sort' prop.name}}>
								{{prop.title}}
							</th>
						{{/if}}
					{{/each}}
					{{#if actionsColumn}}
						<th class="text-center v-middle">
							<span class='glyphicon glyphicon-wrench'></span>
						</th>
					{{/if}}
				</tr>
			</thead>

			<tbody>
				{{#if allColumnsAreHidden}}
					<tr><td colspan={{properties.length}}>{{{messages.allColumnsAreHidden}}}</td></tr>
				{{/if}}
				{{!-- filtrado por columnas --}}
				{{#if useFilteringByColumns}}
					<tr class="tr-filter">
						{{#each properties as |prop|}}
							{{#if prop.isVisible}}
								{{#if prop.filterColumn}}
									<td class="text-center v-middle">
										{{input type="text" value=prop.filterString placeholder=messages.searchLabelColumn}}
									</td>
								{{else}}
									<td></td>
								{{/if}}
							{{/if}}
						{{/each}}
						{{#if actionsColumn}}
							<td></td>
						{{/if}}
					</tr>
				{{/if}}
				{{!-- row para crear nuevo elemento si pasan createInline --}}
				{{#if showActionNew}}
					{{#if createInline}}
						<tr class={{showCreateRow}}>
							{{#each properties as |prop|}}
								{{#if prop.isVisible}}
									<td class="text-center v-middle">
										{{input class="inputNewRow" type=prop.type placeholder=prop.title value=prop.value}} 
									</td>
								{{/if}}
							{{/each}}
							<td class="text-center">
								<div class="marg-bot-actions"><button type ="button" class="btn btn-xs btn-success" {{action 'new'}}><span class='glyphicon glyphicon-ok'></span></button></div>
								<div><button type ="button" class="btn btn-xs btn-warning" {{action 'cancelNew'}}><span class='glyphicon glyphicon-remove'></span></button></div>
							</td>
						</tr>
					{{/if}}
				{{/if}}
				{{#if visibleContent.length}}
					{{!-- contenido de la tabla --}}
					{{#each visibleContent as |doc|}}
						<tr class={{doc.visibility}}>
							{{#each properties as |prop|}}
								{{#if prop.isVisible}}
									<td class="{{prop.className}}">
										{{#if (get doc prop.name)}}
											{{#if prop.template}}
												{{!--template personalizado para cada columna --}}
												{{partial prop.template}}
											{{else}}
												<div>{{get doc prop.name}}</div>
											{{/if}}
										{{/if}}
									</td>
								{{/if}}
							{{/each}}

							{{!-- columna de acciones --}}
							{{#if actionsColumn}}
								<td class="text-center v-middle">
									{{#if route-edit}}
										{{!-- linkeamos a la ruta del detalle para poder editar --}}
										{{#link-to route-edit doc.id}}
											{{#if editInline}}
												<div class="marg-bot-actions"><button class="btn btn-xs btn-success" {{action 'editInline' doc}}><span class='glyphicon glyphicon-pencil'></span></button></div>
											{{else}}
												<div class="marg-bot-actions"><button class="btn btn-xs btn-success" data-toggle="modal" data-target="#modalDetail"><span class='glyphicon glyphicon-pencil'></span></button></div>
											{{/if}}
										{{/link-to}}
									{{/if}}
									{{#if actionDel}}
										<div><button class="btn btn-xs btn-danger" onClick={{action 'delete' doc}}><span class='glyphicon glyphicon-trash'></span></button></div>
									{{/if}}
								</td>
							{{/if}}
						</tr>
						{{#if editInline}}
							{{!-- outlet por fila para mostrar la edición en linea --}}
							{{#if doc.visibilityEdit}}
								<tr class="color-up-elem">
									{{outlet}}
								</tr>
							{{/if}}
						{{/if}}
					{{/each}}
				{{else}}
					<tr><td colspan={{properties.length}}>{{{messages.noDataToShow}}}</td></tr>
				{{/if}}
			</tbody>
		</table>
	</div>

	{{!-- paginación --}}
	{{#if showTableFooter}}
		{{partial 'components/table-simple/table-footer'}}
	{{/if}}
</div>

{{!-- outlet para mostrar el modal de edición --}}
{{#unless editInline}}
	{{outlet}}
{{/unless}}

  
