<div class="panel panel-default">
	<div class="panel-heading">
		{{!-- nueva entrada --}}
		{{#each processedColumns as |column|}}
			{{input-binder type=column.type placeholder=column.title prop=column.title obj=modelo}}
			{{!-- {{input type=column.type placeholder=column.title value=modelo.firstName}} --}}
			{{!-- {{input type=column.type placeholder=column.title value=(intl-get modelo 'firstName')}} --}}
		{{/each}}
		<button type ="button" class="btn  btn-warning" {{action 'new' modelo}}>New</button>
	</div>
  	<div class="panel-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					{{#each processedColumns as |column|}}
						<th>
							{{column.title}}
						</th>
					{{/each}}
					<th>
						Actions
					</th>
				</tr>
			</thead>

			<tbody>
				{{#each modelo as |doc|}}
					<tr>
						{{!-- recorremos processedColums --}}
						{{#each processedColumns as |column|}}
							<td>

								{{!-- {{table-property-input column doc}} --}}
								{{input type=column.type placeholder="undefined" value=(get doc column.title)}}

								{{!-- del siguiente modo si funciona --}}
								{{!-- {{input type=column.type placeholder="undefined" value=doc.firstName}} --}}

							</td>
						{{/each}}
						<td class="text-center">
							<button class="btn  btn-danger" onClick={{action 'delete' doc}}>Delete</button>
							<button class="btn  btn-success" onClick={{action 'update' doc}}>Update</button>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</div>

  
